@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Seven Segment;
  src: url("/assets/font/Seven Segment.ttf");
}

.font-time {
  @apply text-base uppercase tracking-widest text-timer antialiased;
  font-family: Seven Segment;
}

html,
body {
  @apply m-0 box-border h-screen w-full scroll-smooth p-0 dark:bg-slate-950;
}

/* Navbar */
.hamburger-line {
  @apply my-[5px] block h-[3px] w-[25px] rounded-full bg-slate-800 dark:bg-slate-500;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.navbar-fixed {
  @apply fixed z-[9999] -mt-[35px] bg-transparent shadow-3xl backdrop-blur-sm md:-mt-[41px] dark:bg-slate-950;
}

/* Dark Toggle */

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-[14px];
}

@layer components {
  .table-head {
    @apply border border-slate-200 px-6 py-4 text-left text-sm font-semibold uppercase tracking-wider text-slate-600 dark:border-slate-700 dark:text-slate-100;
  }

  .table-body-sm {
    @apply whitespace-nowrap border border-slate-200 px-6 py-2 text-sm font-light tracking-wider text-slate-800 dark:border-slate-700 dark:text-slate-200;
  }

  .table-body-xs {
    @apply whitespace-nowrap border border-slate-200 px-6 py-2 text-xs font-light tracking-wider text-slate-800 dark:border-slate-700 dark:text-slate-200;
  }

  .title-earthquake {
    @apply text-xs font-medium uppercase tracking-wider text-slate-500 dark:text-slate-500;
  }

  .subTitle-earthquake {
    @apply text-wrap text-sm font-medium tracking-wider text-slate-700 dark:text-slate-400;
  }
}
