@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Seven Segment;
  src: url("/assets/font/Seven Segment.ttf");
}

.font-time {
  @apply text-base uppercase tracking-widest text-timer antialiased;
  font-family: Seven Segment;
}

@layer base {
  html,
  body {
    @apply m-0 box-border h-screen w-full scroll-smooth p-0 dark:bg-slate-950;
  }
}

/* Navbar */
.hamburger-line {
  @apply my-[5px] block h-[3px] w-[25px] rounded-full bg-slate-800 dark:bg-slate-500;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.navbar-fixed {
  @apply fixed z-[9999] -mt-[39px] bg-transparent shadow-3xl backdrop-blur-sm dark:bg-slate-950 md:-mt-[41px];
}

/* Dark Toggle */

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-5;
}

@layer components {
  .table-head {
    @apply border border-slate-200 px-6 py-4 text-left text-sm font-semibold uppercase tracking-wider text-slate-600 dark:border-slate-700 dark:text-slate-100;
  }

  .table-body-sm {
    @apply whitespace-nowrap border border-slate-200 px-6 py-2 text-sm font-light tracking-wider text-slate-800 dark:border-slate-700 dark:text-slate-400;
  }

  .table-body-xs {
    @apply whitespace-nowrap border border-slate-200 px-6 py-2 text-xs font-light tracking-wider text-slate-800 dark:border-slate-700 dark:text-slate-400;
  }

  .table-body-xs-date {
    @apply whitespace-nowrap border border-slate-200 px-6 py-2 text-xs font-light tracking-wider text-slate-800 dark:border-slate-700 dark:text-sky-500;
  }

  .table-body-magnitudo {
    @apply cursor-help whitespace-nowrap border border-slate-200 px-6 py-4 text-base font-semibold tracking-wider text-red-600 dark:border-slate-700;
  }

  .title-earthquake {
    @apply text-xs font-medium uppercase tracking-wider text-slate-500 dark:text-slate-500;
  }

  .subTitle-earthquake {
    @apply text-wrap text-sm font-medium tracking-wider text-slate-700 dark:text-slate-300;
  }

  /* Grayscale */

  .grayscale-card {
    @apply flex h-14 w-14 items-center justify-center rounded-lg bg-slate-200 p-2 transition duration-300 ease-in-out hover:bg-slate-300 dark:bg-slate-800 dark:hover:bg-slate-700;
  }

  .btn-whatsapp {
    @apply flex items-center rounded-full bg-whatsapp px-6 py-3 text-base font-light tracking-wide text-slate-100 transition duration-300 ease-in-out hover:bg-green-500 dark:bg-whatsappDark dark:hover:bg-green-800;
  }

  .menu-link {
    @apply flex py-2 text-sm uppercase tracking-wider text-slate-800 transition duration-300 ease-in-out group-hover:text-sky-500 dark:text-slate-100;
  }

  .btn-home {
    @apply flex max-w-fit items-center rounded bg-sky-500 px-6 py-2 text-base text-slate-100 transition-all duration-500 ease-in-out hover:bg-sky-600;
  }
}
